.profile-pic {
  margin-top: 50px;
  height: 600px;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.home-page {
  color: rgb(0, 0, 0);
  height: 100vh;
  font-family: Helvetica, serif;
  max-height: 800px;
  overflow: hidden;
}

.content {
  justify-items: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-me-section {
  justify-self: start;
  margin-top: 175px;
}

.about-me-header {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Gopher, serif;
}

.about-me-inner {
  width: 65%;
  padding-left: 75px;
  margin-top: 10px;
}
.about-me-text {
  font-size: 20px;
  color: #000000;
  font-style: normal;
}

.button-container {
  margin-top: 30px;
  text-align: center;
  width: 65%;
  padding-left: 75px;
}

.button {
  color: rgb(255, 251, 246);
  background-color: #f7aa9a;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 15px;
  width: 180px;
  border-color: white;
  border-style: solid;
  font-size: 20px;
  font-family: Helvetica, sans-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  font-size: 125px;
  text-align: center;
  font-weight: 600;
  font-family: Gopher, serif;
  margin-top: 25px;
}
